[project]
	description = xid is a globally unique id generator thought for the web
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fred Carle (fredcarle)
[access "refs/for/refs/*"]
	read = group user/Fred Carle (fredcarle)
	push = group user/Fred Carle (fredcarle)
	label-Code-Review = -2..+2 group user/Fred Carle (fredcarle)
	label-Verified = -1..+1 group user/Fred Carle (fredcarle)
	rebase = group user/Fred Carle (fredcarle)
	removeReviewer = group user/Fred Carle (fredcarle)
	submit = group user/Fred Carle (fredcarle)
[access "refs/heads/*"]
	read = group user/Fred Carle (fredcarle)
	create = group user/Fred Carle (fredcarle)
	push = +force group user/Fred Carle (fredcarle)
	pushMerge = group user/Fred Carle (fredcarle)
[access "refs/tags/*"]
	push = group user/Fred Carle (fredcarle)
	push = +force group user/Fred Carle (fredcarle)
